<!-- screen 1 Home -->
<section id="screen1">
  <!-- navbar -->
  <nav>
    <ul ng-controller="navScroll">
      <li><a href="#screen1">Home</a></li>
      <li><a href="#screen2">Channel</a></li>
      <li><a href="#screen3">Programmes</a></li>
      <li><a href="#screen4">My progs</a></li>
      <li><a href="#screen5">Contact</a></li>
    </ul>
  </nav>
  <!-- calendar card  -->
  <div class="card-container">
    <h2>CE SOIR</h2>
    <div class="">
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">channel</th>
            <th class="text-left">20h00</th>
            <th class="text-left">22h00</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let channel of channels;">
            <td class="text-left"><img src="{{ channel.logo }}" style="height: 20px;" alt=""></td>
            <td class="text-left">
              <h4>{{ channel.prog[1] && channel.prog[1].title }}</h4><br>{{ channel.prog[1] && channel.prog[1].content }}</td>
            <td class="text-left">
              <h4>{{ channel.prog[0] && channel.prog[0].title }}</h4><br>{{ channel.prog[0] && channel.prog[0].content }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- twitter stream -->
</section>

<!-- screen 2 channel-->
<section id="screen2">
  <div class="card-container">
    <div class="card card-1" *ngFor="let channels of channelsProg">
      <div class="card-top">{{channel.name && channels.name }}</div>
      <a href=""><button class="btn btn-alert">more +</button></a>
    </div>
  </div>
</section>

<section id="screen3">
  <div class="card-container">
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
  </div>
</section>
<section id="screen4">
  <div class="card-container">
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
  </div>
</section>
<section id="screen5">
  <div class="card-container">
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
  </div>
</section>