<div class='container-fluid' style="margin-top: 5%; margin-bottom: 30%">
    <div class='row'>
        <div *ngFor='let program of programs; let i = index'>
            <!--STYLE1-->
            <a href='#' class='col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12' *ngIf='i<32'>
                <article class='style1'>
                    <div class='date'>
                        {{program[i].program_name}}
                    </div>
                    <!--must have larger width than height-->
                    <img class="show" src="{{ channels[i].icon['_src'] }}" style="width: 100%" />

                </article>
            </a>
        </div>
    </div>
</div>
<div class='newsbottom'>
    <div class='to-top' ToTop>
        <i class="fa fa-arrow-up"></i>
    </div>
</div>