/* I'm using Ubuntu Condensed font
/* instead of the original shot font,
/* I think Ubuntu font is a better fit,
/* What do you think? 
/* **************************** */

* {box-sizing:border-box}
html,body {height:100%;}
body {
  
  background: url('assets/images/static.jpg') center center ;
  font: 14px 'Ubuntu Condensed', sans-serif;
  line-height:1;
  min-height:280px;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;  
}
body::-webkit-scrollbar{
  display: none;
}

.paper {
  width:250px;
  height:85%;
  border-radius:4px;
  box-shadow: 0 5px 25px rgba(0,0,0,.15);
  position:fixed;
  top:13%;
  left:30px;
}


.box {width:100%;height:100%;overflow:hidden;overflow: hidden;border-radius:4px}
.inner-box{width:100%;height:100%;overflow: auto!important;overflow-x: hidden!important; border-radius:4px}
.title{
  padding-top: 20px;
  font-size: 30px;
  width: 250px;
  background: #f7ffce;
  background:linear-gradient(135deg,#f7ffce,#e2e4b8);
  border-radius:4px 4px 0 0;
  color:#af9a50;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  position: fixed;
  left: 30px;
  z-index:5;
}
.bar {
  height:30px;
  background: #f7ffce;
  background:linear-gradient(135deg,#f7ffce,#e2e4b8);
  border-radius:4px 4px 0 0;
  color:#af9a50;
  padding:20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  position:relative;
  z-index:5;
}
.menu {float:left;width:12px}
.menu span {
  height:1px;
  background:#af9a50;
  display:block;
  margin-bottom:3px;
}
.bar p {
  float:left;
  margin-left:10px;
  margin-top:-3px;
}
.bar .action {
  float:right;
  margin-top:-13px
}
.bar>span {  
   float:left;
   width:100%;
   margin-top:22px
}
.item {
  height:20%;
  padding:20px;
  box-shadow: 0 4px 5px rgba(0,0,0,.3);
  position:relative;
  font-size:21px;
  -webkit-transition:all 200ms ease;
  transition:all 200ms ease;
}

.item>.box>p {
  line-height:40px;
  -webkit-transition:all 200ms ease;
  transition:all 200ms ease;
}
.detail {
  font-size:17px;
  -webkit-transition:all 200ms ease;
  transition:all 200ms ease;
  opacity:0;
  margin-top: 80px; 
}
.detail div {line-height:35px}
.detail .counter,.detail p {float:left;width:50%}
.detail>div {float:left;width:100%}
.detail .counter {text-align:right; margin-top: 6px;}
.detail .counter div {
 width:35px;
 height:20px;
 float:right;
 text-align:center;
 line-height:20px;
 margin-top:16px;
 cursor: pointer
}
.detail .counter .plus {
  margin-left:1px;
  border-radius:0 30px 30px 0;
}
.detail .counter .minus {
  margin-right:1px;
  margin-left:11px;
  border-radius:30px 0 0 30px;
}

.item.coffee {
  background: #ffe26f;
  background:linear-gradient(135deg,#ffe26f,#e8c962);
  z-index:4;
  color:#e07556; 
}
.item.coffee .detail .counter div {background: #FFF2BE}

.item.sweet {
  background: #f3825f;
  background:linear-gradient(135deg,#f3825f,#f3825f);
  z-index:3;
  color:#9c3c53;
}
.item.sweet .detail .counter div {background: #FFC5B2}

.item.food {
  background: #a7425c;
  background:linear-gradient(135deg,#a7425c,#993950);
  z-index:2;
  color:#402344;
}
.item.food .detail .counter div {background: #ECA9BA}

.item.drink {
  background: #563761;
  background:linear-gradient(135deg,#563761,#502f55);
  z-index:1;
  color:#1c1730;
  border-radius:0 0 4px 4px
}
.item.drink .detail .counter div {background: #8A7193}

.item-icon img{ 
  height:60px;
  width:65px;
  float:left;
  margin-right:10px;
  -webkit-transition:all 200ms ease;
  transition:all 200ms ease;
  -webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);
}
.item-icon.coffee {background-position:0 0}
.item-icon.sweet {background-position:-70px 0}
.item-icon.food {background-position:-137px 0}
.item-icon.drink {background-position:-208px 0}

/** Active **/
.paper.item-active .item {height:60px;padding:0 20px}
.paper.item-active .item.active {height:260px;padding:20px;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);}
.item.active .item-icon {
  -webkit-transform:scale(1.5) translateZ(0);
  -ms-transform:scale(1.5) translateZ(0);
  -moz-transform:scale(1.5) translateZ(0);
  transform:scale(1.5) translateZ(0);
  margin:0 auto;
  float:none;
}
.item.active>.inner-box>p {
  font-size:31px;
  text-align:center
}
.item.active> .inner-box{
    overflow: auto!important;
    overflow-x: hidden!important; 
}
.item.active .detail {opacity:1}

/** Extra For Previewing **/
.item .number,.paper.preview-1 .bar .action {
    display:none
}
.paper.preview-1 {
  margin-right:20px;
}
.paper.preview-2 {
  margin-right:-300px;
}
/** making some things unselectable **/
.item>.box>p,.counter {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.item>.box>p {
  cursor: default
}

hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

#old-tv-screen {

  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  border-radius: 20px;
    position: fixed;
    
     /* Full height */
     height: 99%;
     width:100%; 
     background: url('assets/images/tv.png')  no-repeat;
     
         /* Center and scale the image nicely */
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.app{
  top: 151px;
  left: 380px;
  
  overflow-x: hidden;
  position: absolute;
  margin-left: 0%;
}