<div class="container" [ngClass]="'menu'">
    <div class="sidenav right">
        <a href="" routerLink="/home">
            <div class="nav">
                <div class=" icon fa fa-home"></div>
                <div class="description">Home</div>
            </div>
        </a>
      <a href="" routerLink="/users">
        <div class="nav">
          <div class="icon fa fa-database"></div>
          <div class="description">Login</div>
        </div>
      </a>
      <a href="" routerLink="/login">
        <div class="nav active">
          <div class="icon fa fa-users"></div>
          <div class="description">Signin</div>
        </div>
      </a>
    </div>
<form class="form-inline">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" #name>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" #email>
    </div>
    <div>
        <label for="passwd">Password</label>
        <input type="password" class="form-control" id="passwd" #passwd>
    </div>
    <div>
        <label for="passConfim">Comfirm password</label>
        <input type="password" class="form-control" id="passConfirm" #passConfirm>
    </div>
    <button type="button" (click)="addPerson(name.value, email.value, passwd.value, passConfirm.value)" class="btn btn-primary">Add person</button>
</form>