
<div class="row">
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" #email>
            </div>
            <div>
                <label for="passwd">Password</label>
                <input type="password" class="form-control" id="passwd" #passwd>
            </div>
            <button type="button" (click)="loginUser(email.value, passwd.value)" class="btn btn-primary">Login</button>

            <a href="" routerLink="/login"><button class="btn btn-default">Register ></button></a>
        </form>
    </div>
</div>