<div class="sidenav right">
    <a href="" routerLink="/home">
        <div class="nav active">
            <div class=" icon fa fa-home"></div>
            <div class="description">Home</div>
        </div>
    </a>
    <a href="" routerLink="/channel">
        <div class="nav">
            <div class="icon fa fa-television"></div>
            <div class="description">Chaines</div>
        </div>
    </a>
    <a href="" routerLink="/login">
        <div class="nav ">
            <div class="icon fa fa-users"></div>
            <div class="description">My prog</div>
        </div>
    </a>
</div>
<div class="row">
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" #email>
            </div>
            <div>
                <label for="passwd">Password</label>
                <input type="password" class="form-control" id="passwd" #passwd>
            </div>
            <button type="button" (click)="loginUser(email.value, passwd.value)" class="btn btn-primary">Login</button>

            <a href="" routerLink="/login"><button class="btn btn-default">Register ></button></a>
        </form>
    </div>
</div>